body {
    width: 400px;
}
.container {
  margin: 20px;
  width: 90%;
}
h3 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 25px;
}
.btn {
  padding: 5px 8px;
}
.toggle-button span#inactive-text {
    display: none;
}
.toggle-button.inactive span#inactive-text {
    display: inline;
}
.toggle-button span#active-text {
    display: inline;
}
.toggle-button.inactive span#active-text {
    display: none;
}
p {
    font-size: 13px;
    margin: 13px 0px;
}
